.card-container {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 350px;
  overflow: hidden;
  transition: 0.5s;
  animation: ease-in;
  border: 1.8px solid;
  border-color: rgb(44, 44, 44);
  border-radius: 15px;
}

.card-container:hover {
  box-shadow: 4px 4px 10px #676666;
  transform: scale(1.1);
}

.image-container img {
  padding-top: 10px;
  padding-left: 7%;
  overflow: hidden;
  height: 200px;
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

.card-text {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

.card-title {
  margin-left: 0.5rem;
}

