.cards-container {
  display: flex;
  justify-content: center; /* Center cards horizontally */
  gap: 20px; /* Adjust the spacing between cards */
  flex-wrap: wrap; /* Allow cards to wrap to the next line on smaller screens */
}

.card-container {
  width: calc(33.33% - 20px); /* 33.33% width for each card with spacing */
  min-width: 200px; /* Minimum width for cards */
  max-width: 300px; /* Maximum width for cards */
  height: auto;
  overflow: hidden;
  transition: 0.5s;
  animation: ease-in;
  border: 1.8px solid;
  border-color: rgb(44, 44, 44);
  border-radius: 15px;
}

.card-container:hover {
  box-shadow: 4px 4px 10px #676666;
  transform: scale(1.1);
}

.image-container img {
  overflow: hidden;
  width: 100%; /* Adjust the image width to fill the container */
  height: auto; /* Maintain aspect ratio */
}

.card-content {
  padding: 1rem;
}

.card-text {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

.card-title {
  margin-left: 0.5rem;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .cards-container {
    justify-content: space-between; /* Spread cards evenly on smaller screens */
    gap: 10px; /* Reduce spacing between cards */
  }
  
  .card-container {
    width: calc(50% - 10px); /* 50% width for each card with reduced spacing */
    max-width: none; /* Remove maximum width */
  }
}




