/* Navbar.css */
.navbar {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 10px 0;
  z-index: 2;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-toggle {
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: transform 0.5s ease;
}

/* Styles for the open menu */
.navbar.menu-open .nav-toggle {
  transform: rotate(20deg);
}

.navbar.menu-open .bar {
  transform: rotate(45deg);
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1100px;
  margin-left: 10px;
}

.small-logo {
  width: 50px;
  height: auto;
  margin-right: 5px;
}

/* Media Queries for Responsive Design */

/* Small screens */
@media (max-width: 768px) {
  .container {
    justify-content: space-between;
  }

  .logo {
    margin-right: 10px;
  }

  .navbar.menu-open .bar {
    transform: rotate(45deg);
  }

  /* Add any other responsive styles as needed for small screens */
}

/* Medium screens (You can adjust the breakpoint as needed) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Add styles for medium screens here */
}

/* Large screens (You can adjust the breakpoint as needed) */
@media (min-width: 1025px) {
  /* Add styles for large screens here */
}
