/* Navbar.css */
.navbar {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 10px 0;
  z-index: 2;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-toggle {
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: transform 0.5s ease;
}

/* Styles for the open menu */
.navbar.menu-open .nav-toggle {
  transform: rotate(20deg);
}

.navbar.menu-open .bar {
  transform: rotate(45deg);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.small-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

/* Style the navbar-left and navbar-right divs */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push the contents to the right-most end */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .logo {
    margin-right: 20px;
  }

  .navbar.menu-open .bar {
    transform: rotate(45deg);
  }
}
