/* Services.css */
.services-container {
    padding: 50px 0;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    justify-content: center;
  }
  
  .service-card {
    background-color: #333; /* Darker background for cards */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
    margin-left: 40px; /* Add margin between cards */
    width: 30%; /* Adjust the width of each card */
    transition: transform 0.3s ease-in-out;
  }
  
  .service-card:last-child {
    margin-right: 0; /* Remove margin for the last card */
  }
  
  .service-card:hover {
    transform: translateY(-10px);
  }
  .col-md-4{
    display: inline;
    position: relative;
    float: left;
  }
  
  