body {
  background-color: black;
}

.servicesheading {
  margin-top: 100px;
  color: white;
  font-size: 48px;
  text-align: center;
}

.clientsheading{
  color: white;
  font-size: 48px;
  text-align: center;
}
Upbutton{
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.upbutton{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 4;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .servicesheading {
    font-size: small; /* Adjust font size for smaller screens */
  }
  .clientsheading {
    font-size: small; /* Adjust font size for smaller screens */
  }

  .team{
    margin-top: 100px;
  }

  .scrolling{
    position: relative;
    margin-bottom: 1000px;
  }

  /* Adjust card layout for smaller screens */
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Adjust the spacing between cards for smaller screens */
  }

  .card-container {
    width: calc(50% - 20px); /* 50% width for each card with spacing */
    min-width: 200px; /* Minimum width for cards */
    max-width: none; /* Remove maximum width */
  }
}

/* Media query for screens with a maximum width of 425px (Mobile L) */
@media (max-width: 425px) {
  .cards-container {
    gap: 10px; /* Adjust the spacing between cards for Mobile L */
  }
  .clientsheading {
    font-size: small; /* Adjust font size for smaller screens */
  }
}

/* Media query for screens with a maximum width of 375px (Mobile M) */
@media (max-width: 375px) {
  .cards-container {
    gap: 5px; /* Adjust the spacing between cards for Mobile M */
  }

  .card-container {
    width: calc(50% - 10px); /* 50% width for each card with spacing for Mobile M */
  }
  .clientsheading {
    font-size: small; /* Adjust font size for smaller screens */
  }
}

/* Media query for screens with a maximum width of 325px (Mobile S) */
@media (max-width: 325px) {
  .cards-container {
    gap: 5px; /* Adjust the spacing between cards for Mobile S */
  }
  .clientsheading {
    font-size: small; /* Adjust font size for smaller screens */
  }

  .card-container {
    width: calc(100% - 10px); /* Full width for each card with spacing for Mobile S */
  }
}